In [1]:
import pandas as pd

In [3]:
pwd

'e:\\Projects\\ARES\\experiments'

In [5]:
import pandas as pd

df = pd.read_csv('../datasets/example_files/nq_labeled_output.tsv', sep='\t')

df.head()

,id,input,meta,output,wikipedia_id,Document,paragraph_number,Answer,Query,Context_Relevance_Label,Answer_Faithfulness_Label,Answer_Relevance_Label
0,-6371603500131574271,who sings somebody's watching me with michael ...,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'Rockwell', 'meta': {'score': -1},...",1551152,"""Somebody's Watching Me"" is a song recorded by...",1.0,Rockwell,who sings somebody's watching me with michael ...,1.0,1.0,1.0
1,6860341019198485637,who cracked the enigma code in world war 2,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'Turing', 'meta': {'score': -1}, '...",1208,Alan Turing\r\n,0.0,Turing,who cracked the enigma code in world war 2,1.0,1.0,1.0
2,3066393401707107613,where was the u.s.s maine when it exploded in ...,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'Havana Harbor', 'meta': {'score':...",189610,Early comics produced for gay and bisexual mal...,1.0,Havana Harbor,where was the u.s.s maine when it exploded in ...,0.0,NaN,NaN
3,-7781842461440323674,where do characters live in this is us,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'Pittsburgh', 'meta': {'score': -1...",50526957,Most episodes feature a storyline taking place...,7.0,Pittsburgh,where do characters live in this is us,1.0,1.0,1.0
4,4842545652440215325,when did slave to the rhythm come out,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': '2010', 'meta': {'score': -1}, 'pr...",42832596,"The song was written and recorded in 1990, wit...",3.0,2010,when did slave to the rhythm come out,1.0,1.0,1.0

In [9]:
df.iloc[1]

id                                                         6860341019198485637
input                               who cracked the enigma code in world war 2
meta                         {'left_context': '', 'mention': '', 'right_con...
output                       [{'answer': 'Turing', 'meta': {'score': -1}, '...
wikipedia_id                                                              1208
Document                                                       Alan Turing\r\n
paragraph_number                                                           0.0
Answer                                                                  Turing
Query                               who cracked the enigma code in world war 2
Context_Relevance_Label                                                    1.0
Answer_Faithfulness_Label                                                  1.0
Answer_Relevance_Label                                                     1.0
Name: 1, dtype: object

In [10]:
df_1 = pd.read_csv('../datasets/example_files/nq_unlabeled_output.tsv', sep='\t')

In [16]:
df_1.iloc[100]['output']

'[{\'answer\': \'Colman\', \'meta\': {\'score\': -1}, \'provenance\': array([{\'bleu_score\': 1.0, \'start_character\': 55, \'start_paragraph_id\': 3, \'end_character\': 61, \'end_paragraph_id\': 3, \'meta\': {\'fever_page_id\': \'\', \'fever_sentence_id\': -1, \'annotation_id\': \'-1\', \'yes_no_answer\': \'\', \'evidence_span\': array([], dtype=object)}, \'section\': \'Section::::Plot summary.\\n\', \'title\': \'Where the Red Fern Grows\', \'wikipedia_id\': \'1301931\'}],\r\n       dtype=object)}\r\n {\'answer\': \'Billy Colman\', \'meta\': {\'score\': -1}, \'provenance\': array([{\'bleu_score\': 1.0, \'start_character\': 49, \'start_paragraph_id\': 3, \'end_character\': 61, \'end_paragraph_id\': 3, \'meta\': {\'fever_page_id\': \'\', \'fever_sentence_id\': -1, \'annotation_id\': \'-1\', \'yes_no_answer\': \'\', \'evidence_span\': array([], dtype=object)}, \'section\': \'Section::::Plot summary.\\n\', \'title\': \'Where the Red Fern Grows\', \'wikipedia_id\': \'1301931\'}],\r\n       dtype=object)}\r\n {\'answer\': \'\', \'meta\': {\'score\': -1}, \'provenance\': array([{\'bleu_score\': 0.5042700171470642, \'start_character\': 0, \'start_paragraph_id\': 3, \'end_character\': 221, \'end_paragraph_id\': 3, \'meta\': {\'fever_page_id\': \'\', \'fever_sentence_id\': -1, \'annotation_id\': \'10336869586027110834\', \'yes_no_answer\': \'NONE\', \'evidence_span\': array([], dtype=object)}, \'section\': \'Section::::Plot summary.\\n\', \'title\': \'Where the Red Fern Grows\', \'wikipedia_id\': \'1301931\'}],\r\n       dtype=object)}\r\n {\'answer\': \'\', \'meta\': {\'score\': -1}, \'provenance\': array([{\'bleu_score\': -1.0, \'start_character\': -1, \'start_paragraph_id\': 3, \'end_character\': -1, \'end_paragraph_id\': 3, \'meta\': {\'fever_page_id\': \'\', \'fever_sentence_id\': -1, \'annotation_id\': \'-1\', \'yes_no_answer\': \'\', \'evidence_span\': array([\'Billy Colman\',\r\n               "When leaving work in Idaho\'s Snake River Valley, Billy Colman sees a pack of dogs attacking a stray coonhound.",\r\n               "When leaving work in Idaho\'s Snake River Valley, Billy Colman sees a pack of dogs attacking a stray coonhound. He rescues, feeds, and eventually releases the stray, allowing it to return home. The experience reminds Billy of his childhood in the Ozark Mountains of Oklahoma."],\r\n              dtype=object)}, \'section\': \'Section::::Plot summary.\\n\', \'title\': \'Where the Red Fern Grows\', \'wikipedia_id\': \'1301931\'}                                                                                                                                                               ],\r\n       dtype=object)}\r\n {\'answer\': \'\', \'meta\': {\'score\': -1}, \'provenance\': array([{\'bleu_score\': -1.0, \'start_character\': -1, \'start_paragraph_id\': 20, \'end_character\': -1, \'end_paragraph_id\': 20, \'meta\': {\'fever_page_id\': \'\', \'fever_sentence_id\': -1, \'annotation_id\': \'-1\', \'yes_no_answer\': \'\', \'evidence_span\': array([\'While the book and 1974 film version depict Billy Coleman to have long blond hair, the Billy Coleman in the 2003 film has short, dark brown hair.\',\r\n               \'Ann" in it, and decides to name his dogs Old Dan and Little Ann. While the book and 1974 film version depict Billy Coleman to have long blond hair, the Billy Coleman in the 2003 film has short, dark brown hair. The novel depicted the coon hunting competition to last about six nights, whereas the two film versions place it at four nights. In the novel and 1974 film version, Billy Coleman, his dogs, and the two Pritchard boys Rainie and Rubin hunt for the legendary ghost coon at night, but in the 2003 film, they hunt for the ghost coon at daylight. Also, the 2003 film placed the boys\\\' betted money at five dollars, while the 1974 film and novel, place the money at two dollars.\'],\r\n              dtype=object)}, \'section\': \'Section::::Differences between the film and the book.\\n\', \'title\': \'Where the Red Fern Grows (2003 film)\', \'wikipedia_id\': \'31194692\'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ],\r\n       dtype=object)}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ]'

In [13]:
df_1.columns

Index(['id', 'input', 'meta', 'output', 'wikipedia_id', 'Document',
       'paragraph_number', 'Answer', 'Query', 'Context_Relevance_Label',
       'Answer_Faithfulness_Label', 'Answer_Relevance_Label'],
      dtype='object')

In [21]:
df_2 = pd.read_csv('../datasets/few_shot_datasets/judge_scoring/nq_few_shot_prompt_for_judge_scoring.tsv', sep='\t')

In [22]:
df_2.iloc[0]

Query                              when did the first fleet arive in australia
Document                     The 11 ships of the First Fleet set sail from ...
Answer                                                         18 January 1788
Context_Relevance_Label                                                [[Yes]]
Answer_Relevance_Label                                                 [[Yes]]
Answer_Faithfulness_Label                                              [[Yes]]
Name: 0, dtype: object